<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>

    </listeners>
    <test verbose="2" preserve-order="true" parallel="true" thread-count="1" name="test">
        <classes>
            <class name="TestComponents.Brudnopis">
            </class>
        </classes>
    </test>
</suite>